*{
    margin: 0;
    padding: 0;
    font-family:'poppins' sans-serif;
    box-sizing: border-box;
}

.hero{
    width:100%;
    min-height: 100vh;
   background: linear-gradient(orange,white,green);
   color: fff;
   position: relative;
}

.container{
    width: 500px;
    height: 200px;
    background-color: #6a0487;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.clock{
    margin:15px;
    margin-left: 50px;
    width: 80%;
    height: 80%;
    background: rgba(6, 218, 6, 0.999);
    border-radius: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}
.clock span{
    font-size: 70px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after{
    content: 'HOURS';
}

#min::after{
    content: 'MINS';
}

#sec::after{
    content:'SEC';
}